.register {
    .date {
        #container {
            #pickerWrapper {
                div {
                    div {
                        width: 100px;
                        padding-left: 0 !important;
                        display: flex !important;
                        justify-content: center !important;
                        align-items: center !important;
                        text-align: center !important;


                    }
                }
            }
        }
    }

    .react-international-phone-input {
        border-color: #CED4DA !important;
        border-top-right-radius: 8px !important;
        border-bottom-right-radius: 12px !important;
        color: black !important;
    }

    .react-international-phone-country-selector-button {
        padding: 10px;
        border-color: #CED4DA !important;
        border-top-left-radius: 8px !important;
        border-bottom-left-radius: 8px !important;
    }
}

input {
    &:focus {
        box-shadow: none;
        outline: none;
    }
}