.register {
    .date {
        #container {
            #pickerWrapper {
                div {
                    div {
                        width: 100px;
                        padding-left: 0 !important;
                        display: flex !important;
                        justify-content: center !important;
                        align-items: center !important;
                        text-align: center !important;


                    }
                }
            }
        }
    }
}