:root {
  --react-international-phone-flag-width: 32px; /* Adjust width as needed */
  --react-international-phone-flag-height: 44px; /* Adjust height as needed */
  --react-international-phone-font-size: 18px;
}

.phone-dark-input {
  background-color: #060515 !important;
  color: #ffff !important;
  height: 48px !important;
}

.react-international-phone-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-tel-input .flag-dropdown .selected-flag .flag {
  width: 30px; /* Desired width */
  height: 20px; /* Desired height */
  background-size: contain; /* Ensure the flag scales properly */
}
